

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #f5f2e8;
}

/***********
NAV
***********/

nav {
  background-color: seagreen;
  height: 50px;
}

nav h2 {
  text-align: center;
  padding-top: 10px;
  color: white;
}


/***********
FORM
***********/

.form::after {
  content: "";
  background: url("beer_bgr.jpg");
  background-size: 100%;
  opacity: 0.8;
  min-width: 960px;
  height: 800px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.wrapper {
  background-color: #f5f2e8;
  margin: 0px;
  padding: 50px 0px;
}

.beerLove {
  font-size: 3em;
}

form {
  max-width: 480px;
  margin: 70px 0px 70px 15%;
  padding: 20px 20px;
  background: white;
  color: dimgray;
  box-shadow: 0px 1px 5px #888888;
  border-radius: 4px;
  display: table;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

form p { 
  display: table-row;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  width: 200px;
}

input, textarea { 
  margin: 0px;
  padding: 5px;
  border: 1px solid white;
  color: gray;
  background-color: #f5f2e8;
  display: table-cell;
}

#submit {
  width: 75%;
  margin: 15px 0px;
  padding: 20px;
  color: white;
  background-color: seagreen;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 4px;
  border: 2px solid white;
}

#submit:hover {
  background-color: darkseagreen;
}

#success {
  font-size: 1.5em;
  color: darkgoldenrod;
}

/**************
INFO
**************/

.beer_number {
  margin: 0px 50px 50px;
  padding: 10px 0px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 5px #888888;
  font-size: 2em;
}

.count_color {
  font-size: 1.5em;
  color: darkgoldenrod;
}

/**************
SEARCH
**************/


/**************
TABLE
**************/

.container {
  margin: 20px 25px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 1px 5px #888888;
}

table {
  width: 100%;
  border: 1px solid lightgray;
}

th {
  padding: 10px 10px;
  background-color: seagreen;
}

th a {
  font-size: 1.3em;
  color: white;
}

#beer, #brewery, #city, #state, #type, #style {
  width: 14%;
}

#abv, #rating {
  width: 1%;
}

#comments {
  width: 12%;
}

tr {
  text-align: center;
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgba(221, 198, 162, .5);
}

td {
  padding: 5px 10px;
}

i {
  margin: 0 5px;
}

/**************
MEDIA QUERIES
**************/

@media screen and (max-width: 1200px) {
  
  table * {
    font-size: .9em;
  }
  
  th * {
    width: 100%;
    display: inline;
  }
  
  a, i {
    width: 10%;
  }
  
}


@media screen and (max-width: 970px) {

  .form::after {
    display: none;
  }
  
  form {
    max-width: 480px;
    margin: 20px auto;
  }
  
  input {
    display: inline;
    padding: 5px;
    margin: 0px;
  }
  
  p {
    font-size: .9em;
  }
  
  tr {
    font-size: 1.2em;
  }
  
  .count_color {
  display: block;
  }
  
  .container {
    min-width: 345px;
  }
  
  th:nth-of-type(1n+3) { 
    display:none; 
  }
  
  td:nth-of-type(1n+3) { 
    display:none; 
  }
}


